python_matlab/my_plot.jpg
tcp-server/TCP-Server-GUI/.qtcreator/Python_3_12_64_bit_venv/
*.pyc
/tcp-server/server_ui/.qtcreator/Python_3_12_64_bit_venv
*.o
*.o.d
*.pyc
/tcp-server/__pycache__
*.pyc
data_viewer/Release Build.lnk
bed_data/*
turtlebot_client/out_test/*
turtlebot_client/out/*.log
server/out_test/*
server/out/*
build/*
dist/*
*.spec
